


# 4.2.1.1 Ensure rsyslog Service is enabled

- name: 4.2.1.1 - Check if rsyslog is installed
  command: yum -q list rsyslog
  ignore_errors: true
  when: cis_enable_rsyslog
  register: rsyslog_4_2_1_1
  tags:
    - level-1
    - section-4
    - "4.2.1.1"
    - scored

- name: 4.2.1.1 - Ensure rsyslog Service is enabled
  service:
    name: "rsyslog"
    enabled: true
    state: started
  when:
    - cis_enable_rsyslog
    - rsyslog_4_2_1_1.rc is not defined or rsyslog_4_2_1_1.rc == 0
    - amzn_cis_rule_4_2_1_1
  ignore_errors: false
  tags:
    - level-1
    - section-4
    - "4.2.1.1"
    - scored



# 4.2.1.2 Ensure logging is configured

- name: 4.2.1.2 - Ensure logging is configured
  debug:
    msg: "WARNING - This check has not been implemented yet."
  tags:
    - level-1
    - section-4
    - "4.2.1.2"
    - not-scored
    - todo



# 4.2.1.3 Ensure rsyslog default file permissions configured

- name: 4.2.1.3 - Ensure rsyslog default file permissions configured
  lineinfile:
    regexp: "^\\$FileCreateMode\\s+"
    line: "$FileCreateMode 0640"
    insertbefore: BOF
    dest: "/etc/rsyslog.conf"
  when: cis_enable_rsyslog
  #  notify:
  #    - Restart rsyslog
  tags:
    - level-1
    - section-4
    - "4.2.1.3"
    - scored



# 4.2.1.4 Ensure rsyslog is configured to send logs to a remote log host

- name: 4.2.1.4 - Ensure rsyslog is configured to send logs to a remote log host
  lineinfile:
    regexp: "^#?\\*\\.\\*\\s+"
    line: "*.* @@{{ cis_rsyslog_remote_loghost_address }}"
    dest: "/etc/rsyslog.conf"
  when: cis_enable_rsyslog and amzn_cis_rule_4_2_1_4
  tags:
    - level-1
    - section-4
    - "4.2.1.4"
    - scored



# 4.2.1.5 Ensure remote rsyslog messages are only accepted on designated log hosts

- name: 4.2.1.5 - Ensure remote rsyslog messages are only accepted on designated log hosts
  lineinfile:
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    dest: "/etc/rsyslog.conf"
    state: present
  when: cis_enable_rsyslog and cis_rsyslog_accept_remote_messages and amzn_cis_rule_4_2_1_5
  with_items:
    - { regexp: "^#?\\$ModLoad\\s+imtcp.so", line: "$ModLoad imtcp.so" }
    - { regexp: "^#?\\$InputTCPServerRun\\s+", line: "$InputTCPServerRun 514" }
    #  notify: Restart rsyslog
  tags:
    - level-1
    - section-4
    - "4.2.1.5"
    - scored

- name: 4.2.1.5 - Ensure remote rsyslog messages are not accepted on non-designated log hosts
  lineinfile:
    regexp: "{{ item }}"
    dest: "/etc/rsyslog.conf"
    state: absent
  when: (cis_enable_rsyslog and not cis_rsyslog_accept_remote_messages) and amzn_cis_rule_4_2_1_5
  with_items:
    - "^#?\\$ModLoad\\s+imtcp.so"
    - "^#?\\$InputTCPServerRun\\s+514"
    #  notify: Restart rsyslog
  tags:
    - level-1
    - section-4
    - "4.2.1.5"
    - scored




# 4.2.2.1 Ensure syslog-ng service is enabled

- name: 4.2.2.1 - Check if syslog-ng is installed
  command: yum -q list syslog-ng
  ignore_errors: true
  register: syslog_ng_4_2_2_1
  when: cis_enable_syslog_ng and amzn_cis_rule_4_2_2_1
  tags:
    - level-1
    - section-4
    - "4.2.2.1"
    - scored

- name: 4.2.2.1 - Ensure syslog-ng service is enabled
  service:
    name: "syslog-ng"
    enabled: true
    state: started
  when:
    - cis_enable_syslog_ng
    - syslog_ng_4_2_2_1 is defined
    - syslog_ng_4_2_2_1.rc is not defined or syslog_ng_4_2_2_1.rc == 0
    - amzn_cis_rule_4_2_2_1
  ignore_errors: false
  tags:
    - level-1
    - section-4
    - "4.2.2.1"
    - scored



# 4.2.2.2 Ensure logging is configured

- name: 4.2.2.2 - Ensure logging is configured
  debug:
    msg: "WARNING - This check has not been implemented yet."
  tags:
    - level-1
    - section-4
    - "4.2.2.2"
    - not-scored
    - todo



# 4.2.2.3 Ensure syslog-ng default file permissions configured

- name: 4.2.2.3 - Ensure syslog-ng default file permissions configured
  debug:
    msg: "WARNING - This check has not been implemented yet."
  tags:
    - level-1
    - section-4
    - "4.2.2.3"
    - scored
    - todo



# 4.2.2.4 Ensure syslog-ng is configured to send logs to a remote log host

- name: 4.2.2.4 - Ensure syslog-ng is configured to send logs to a remote log host
  debug:
    msg: "WARNING - This check has not been implemented yet."
  tags:
    - level-1
    - section-4
    - "4.2.2.4"
    - not-scored
    - todo



# 4.2.2.5  Ensure remote syslog-ng messages are only accepted on designated log hosts

- name: 4.2.2.5 - Ensure remote syslog-ng messages are only accepted on designated log hosts
  debug:
    msg: "WARNING - This check has not been implemented yet."
  tags:
    - level-1
    - section-4
    - "4.2.2.5"
    - not-scored
    - todo



# 4.2.3 Ensure rsyslog or syslog-ng is installed

- name: 4.2.3 - Ensure rsyslog is installed
  yum:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  when: (cis_enable_rsyslog and not cis_enable_syslog_ng) and amzn_cis_rule_4_2_3
  with_items:
    - { name: "rsyslog", state: "present" }
    - { name: "syslog-ng", state: "absent" }
  tags:
    - level-1
    - section-4
    - "4.2.3"
    - scored

- name: 4.2.3 - Ensure syslog-ng is installed
  yum:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    enablerepo: epel
  when: (cis_enable_syslog_ng and not cis_enable_rsyslog) and amzn_cis_rule_4_2_3
  with_items:
    - { name: "rsyslog", state: "absent" }
    - { name: "syslog-ng", state: "present" }
  tags:
    - level-1
    - section-4
    - "4.2.3"
    - scored



# 4.2.4 Ensure permissions on all logfiles are configured

- name: 4.2.4 - Ensure permissions on all logfiles are configured
  shell: "find /var/log -type f -exec chmod g-wx,o-rwx {} +"
  when: amzn_cis_rule_4_2_4
  tags:
    - level-1
    - section-4
    - "4.2.4"
    - scored



# 4.3 Ensure logrotate is configured

- name: 4.3 - Ensure logrotate is configured
  debug:
    msg: "WARNING - This check has not been implemented yet."
  tags:
    - level-1
    - section-4
    - "4.3"
    - not-scored
    - todo
