---


# 2.1.1 Ensure chargen services are not enabled

- name: 2.1.1 - Ensure chargen services are not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - chargen-dgram
    - chargen-stream
  ignore_errors: true
  when: amzn_cis_rule_2_1_1
  tags:
    - level-1
    - section-2
    - "2.1.1"
    - scored



# 2.1.10 Ensure rsync server is not enabled

- name: 2.1.10 - Ensure rsync server is not enabled
  service:
    name: "rsync"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_1_10
  tags:
    - level-1
    - section-2
    - "2.1.10"
    - scored



# 2.1.11 Ensure xinetd server is not enabled

- name: 2.1.11 - Ensure xinetd server is not enabled
  service:
    name: "xinetd"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_1_11
  tags:
    - level-1
    - section-2
    - "2.1.11"
    - scored



# 2.1.2 Ensure daytime services are not enabled

- name: 2.1.2 - Ensure daytime services are not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - daytime-dgram
    - daytime-stream
  ignore_errors: true
  when: amzn_cis_rule_2_1_2
  tags:
    - level-1
    - section-2
    - "2.1.2"
    - scored



# 2.1.3 Ensure discard services are not enabled

- name: 2.1.3 - Ensure discard services are not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - discard-dgram
    - discard-stream
  ignore_errors: true
  when: amzn_cis_rule_2_1_3
  tags:
    - level-1
    - section-2
    - "2.1.3"
    - scored



# 2.1.4 Ensure echo services are not enabled

- name: 2.1.4 - Ensure echo services are not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - echo-dgram
    - echo-stream
  ignore_errors: true
  when: amzn_cis_rule_2_1_4
  tags:
    - level-1
    - section-2
    - "2.1.4"
    - scored



# 2.1.5 Ensure time services are not enabled

- name: 2.1.5 - Ensure time services are not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - time-dgram
    - time-stream
  ignore_errors: true
  when: amzn_cis_rule_2_1_5
  tags:
    - level-1
    - section-2
    - "2.1.5"
    - scored



# 2.1.6 Ensure rsh server is not enabled

- name: 2.1.6 - Ensure rsh server is not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - rexec
    - rlogin
    - rsh
  ignore_errors: true
  when: amzn_cis_rule_2_1_6
  tags:
    - level-1
    - section-2
    - "2.1.6"
    - scored



# 2.1.7 Ensure talk server is not enabled

- name: 2.1.7 - Ensure talk server is not enabled
  service:
    name: "talk"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_1_7
  tags:
    - level-1
    - section-2
    - "2.1.7"
    - scored



# 2.1.8 Ensure telnet server is not enabled

- name: 2.1.8 - Ensure telnet server is not enabled
  service:
    name: "telnet"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_1_8
  tags:
    - level-1
    - section-2
    - "2.1.8"
    - scored



# 2.1.9 Ensure tftp server is not enabled

- name: 2.1.9 - Ensure tftp server is not enabled
  service:
    name: "tftp"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_1_9
  tags:
    - level-1
    - section-2
    - "2.1.9"
    - scored



# 2.2.1.1 Ensure time synchronisation is in use

- name: 2.2.1.1 - Ensure ntp is installed
  package:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  when: (cis_enable_ntp and not cis_enable_chrony) and amzn_cis_rule_2_2_1_1
  with_items:
    - { name: "ntp", state: "present" }
    - { name: "chrony", state: "absent" }
  tags:
    - level-1
    - section-4
    - "2.2.1.1"
    - not-scored

- name: 2.2.1.1 - Ensure chrony is installed
  package:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  when: cis_enable_chrony and not cis_enable_ntp
  with_items:
    - { name: "ntp", state: "absent" }
    - { name: "chrony", state: "present" }
  tags:
    - level-1
    - section-4
    - "2.2.1.1"
    - not-scored



# 2.2.1.2 Ensure ntp is configured
- name: Set Options -u ntp:ntp in /etc/sysconfig/ntpd
  replace:
    path: /etc/sysconfig/ntpd
    regexp: '^OPTIONS=.*$'
    replace: 'OPTIONS="-u ntp:ntp"'
  when: amzn_cis_rule_2_2_1_2
  tags:
    - level-1
    - "2.2.1.2"
    - scored
    - cis_enable_ntp

- name: Set Restrict -6
  lineinfile:
    path: /etc/ntp.conf
    insertbefore: 'restrict default nomodify notrap nopeer noquery'
    line: 'restrict -6 default kod nomodify notrap nopeer noquery'
  when: amzn_cis_rule_2_2_1_2
  tags:
    - level-1
    - "2.2.1.2"
    - scored
    - cis_enable_ntp

- name: Set Restrict -4
  lineinfile:
    path: /etc/ntp.conf
    insertbefore: 'restrict -6 default kod nomodify notrap nopeer noquery'
    line: 'restrict -4 default kod nomodify notrap nopeer noquery'
  when: amzn_cis_rule_2_2_1_2
  tags:
    - level-1
    - "2.2.1.2"
    - scored
    - cis_enable_ntp



# 2.2.1.3 Ensure chrony is configured

- name: Set Options -u chrony in /etc/sysconfig/chronyd
  lineinfile:
    path: /etc/sysconfig/chronyd
    regexp: '^OPTIONS='
    line: 'OPTIONS="-u chrony"'
    create: yes
  when: amzn_cis_rule_2_2_1_3 and cis_enable_chrony
  tags:
    - level-1
    - "2.2.1.3"
    - scored
    - cis_enable_chrony


# 2.2.10 Ensure HTTP server is not enabled

- name: 2.2.10 - Ensure HTTP server is not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - httpd
    - apache
    - apache2
    - nginx
    - lighttpd
  ignore_errors: true
  when: amzn_cis_rule_2_2_10
  tags:
    - level-1
    - "2.2.10"
    - scored



# 2.2.11 Ensure IMAP and POP3 server is not enabled

- name: 2.2.11 - Ensure IMAP and POP3 server is not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - dovecot
    - cyrus-imapd
  ignore_errors: true
  when: amzn_cis_rule_2_2_11
  tags:
    - level-1
    - "2.2.11"
    - scored



# 2.2.12 Ensure Samba is not enabled

- name: 2.2.12 - Ensure Samba is not enabled
  service:
    name: "smb"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_12
  tags:
    - level-1
    - "2.2.12"
    - scored



# 2.2.13 Ensure HTTP Proxy Server is not enabled

- name: 2.2.13 - Ensure HTTP Proxy Server is not enabled
  service:
    name: "squid"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_13
  tags:
    - level-1
    - "2.2.13"
    - scored



# 2.2.14 Ensure SNMP Server is not enabled

- name: 2.2.14 - Ensure SNMP Server is not enabled
  service:
    name: "snmpd"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_14
  tags:
    - level-1
    - "2.2.14"
    - scored



# 2.2.15 Ensure mail transfer agent is configured for local-only mode

- name: 2.2.15 - Check if mail transfer agent is configured for local-only mode
  shell: "netstat -an | grep LIST | grep ':25[[:space:]]'"
  register: mta_2_2_15
  ignore_errors: true
  when: amzn_cis_rule_2_2_15
  tags:
    - level-1
    - "2.2.15"
    - scored

- name: 2.2.15 - Ensure mail transfer agent is configured for local-only mode
  fail:
    msg: "Detected mail transfer agent listening on non-loopback address."
  when:
    - mta_2_2_15.stdout_lines is defined and (mta_2_2_15.stdout_lines|count > 1 or '127.0.0.1:25' not in mta_2_2_15.stdout)
    - fail_on_manual_remediation_actions
    - amzn_cis_rule_2_2_15
  tags:
    - level-1
    - "2.2.15"
    - scored

- name: 2.2.15 - Ensure mail transfer agent is configured for local-only mode
  debug:
    msg: "*** ACTION REQUIRED *** Detected mail transfer agent listening on non-loopback address."
  when:
    - mta_2_2_15.stdout_lines is defined and (mta_2_2_15.stdout_lines|count > 1 or '127.0.0.1:25' not in mta_2_2_15.stdout)
    - not fail_on_manual_remediation_actions
    - amzn_cis_rule_2_2_15
  tags:
    - level-1
    - "2.2.15"
    - scored




# 2.2.16 Ensure NIS Server is not enabled

- name: 2.2.16 - Ensure NIS Server is not enabled
  service:
    name: "ypserv"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_16
  tags:
    - level-1
    - "2.2.16"
    - scored



# 2.2.2 Ensure X Window System is not installed

- name: 2.2.2 - Ensure X Window System is not installed
  yum:
    name: "xorg-x11*"
    state: absent
  when: amzn_cis_rule_2_2_2
  tags:
    - level-1
    - "2.2.2"
    - scored



# 2.2.3 Ensure Avahi Server is not enabled

- name: 2.2.3 - Ensure Avahi Server is not enabled
  service:
    name: "avahi-daemon"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_3
  tags:
    - level-1
    - "2.2.3"
    - scored



# 2.2.4 Ensure CUPS is not enabled

- name: 2.2.4 - Ensure CUPS is not enabled
  service:
    name: "cups"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_4
  tags:
    - level-1
    - "2.2.4"
    - scored



# 2.2.5 Ensure DHCP Server is not enabled

- name: 2.2.5 - Ensure DHCP Server is not enabled
  service:
    name: "dhcpd"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_5
  tags:
    - level-1
    - "2.2.5"
    - scored



# 2.2.6 Ensure LDAP server is not enabled

- name: 2.2.6 - Ensure LDAP server is not enabled
  service:
    name: "slapd"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_6
  tags:
    - level-1
    - "2.2.6"
    - scored



# 2.2.7 Ensure NFS and RPC are not enabled

- name: 2.2.7 - Ensure NFS and RPC are not enabled
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - nfs
    - rpcbind
  ignore_errors: true
  when: amzn_cis_rule_2_2_7
  tags:
    - level-1
    - "2.2.7"
    - scored



# 2.2.8 Ensure DNS Server is not enabled

- name: 2.2.8 - Ensure DNS Server is not enabled
  service:
    name: "named"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_8
  tags:
    - level-1
    - "2.2.8"
    - scored



# 2.2.9 Ensure FTP Server is not enabled

- name: 2.2.9 - Ensure FTP Server is not enabled
  service:
    name: "vsftpd"
    enabled: false
    state: stopped
  ignore_errors: true
  when: amzn_cis_rule_2_2_9
  tags:
    - level-1
    - "2.2.9"
    - scored



# 2.3.1 Ensure NIS Client is not installed

- name: 2.3.1 - Ensure NIS Client is not installed
  yum:
    name: "ypbind"
    state: absent
  when: amzn_cis_rule_2_3_1
  tags:
    - level-1
    - section-2
    - "2.3.1"
    - scored



# 2.3.2 Ensure rsh client is not installed

- name: 2.3.2 - Ensure rsh client is not installed
  yum:
    name: "rsh"
    state: absent
  when: amzn_cis_rule_2_3_2
  tags:
    - level-1
    - section-2
    - "2.3.2"
    - scored



# 2.3.3 Ensure talk client is not installed

- name: 2.3.3 - Ensure talk client is not installed
  yum:
    name: "talk"
    state: absent
  when: amzn_cis_rule_2_3_3
  tags:
    - level-1
    - "2.3.3"
    - scored



# 2.3.4 Ensure telnet client is not installed

- name: 2.3.4 - Ensure telnet client is not installed
  yum:
    name: "telnet"
    state: absent
  when: amzn_cis_rule_2_3_4
  tags:
    - level-1
    - section-2
    - "2.3.4"
    - scored



# 2.3.5 Ensure LDAP client is not installed

- name: 2.3.5 - Ensure LDAP client is not installed
  yum:
    name: "openldap-clients"
    state: absent
  when: amzn_cis_rule_2_3_5
  tags:
    - level-1
    - section-2
    - "2.3.5"
    - scored
